@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --color-primary: #605f5f;
}

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}
.back-logo {
    background-color: #004B65;
}
.container-custom {
    border: 2px /* solid #004B65 */ ;
    margin: 2px;
}
.container-custom-g {
    border: 2px /* solid #004B65 */ ;
    margin-left: 130px;
    width: 600px;
}
.container-custom-l {
    border: 2px /* solid #004B65 */ ;
    margin-left: 0px;
    width: 910px;
    height: 836px;
}
.justify-content-center-z {
    border: 1px solid #004B65;
    margin-left: 690px;
    width: 230px;
}